# frontend --->
client2/node_modules
client2/.pnp
client2/.pnp.js

# testing
client2/coverage

# production
client2/build

# misc
client2/.DS_Store
client2/.env.local
client2/.env.development.local
client2/.env.test.local
client2/.env.production.local

client2/npm-debug.log*
client2/yarn-debug.log*
client2/yarn-error.log*

# backend -->
server2/node_modules
server2/.env